body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  margin: 0px;
  height: 100vh;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #efefef;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-decoration: none;
  height: 3rem;
  border-bottom: 0.02rem solid lightgray;
}
/* .box{
  padding-top: 3rem;
   padding-bottom: .02rem;
   text-align: center;
   width: 50rem;
   color: red;
   padding-left: 5rem;

  background-color: white;
 border-bottom: .2rem solid lightgrey;
} */
.card {
  width: 18rem;
}

main {
  display: flex;
}

nav {
  border-right: 0.02rem solid lightgray;
  background-color: #efefef;
  padding-right: 4rem;
  height: 100vh;
}

.container {
  padding-left: 4rem;
  padding-right: 4rem;
}

.brand {
  font-size: smaller;
}

#menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#menu a {
  text-decoration: none;
}

.btn {
  text-decoration: none;
  border: 1px solid black;
  padding-block: 0.2rem;
  padding-inline: 0.5rem;
  background-color: white;
  color: lightgrey;
}

.btn-primary {
  background-color: #007aff;
  color: white;
}
a:hover {
  color: black;
}
